@model Sasarman_Andra_Proiect.Models.LibraryViewModels.DomainIndexData
@{
    ViewData["Title"] = "Domains";
}
<h2>Domains</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Domain Name</th>
            <th>Description</th>
            <th>Courses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Domains)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["DomainID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.DomainName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @{
                        foreach (var course in item.PublishedCourses)
                        {
                            @course.Course.ID @: @course.Course.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Courses != null)
{
    <h3>Courses Published in Selected Domain</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["CourseID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.ID })
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Author
                </td>
                <td>
                    @item.Price
                </td>
            </tr>

        }
    </table>
}
@if (Model.Orders != null)
{
    <h3>
        Customers that have ordered the Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Order Date</th>
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
            </tr>
        }
    </table>
}